# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Update Israel Rankings

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '40 16 * * 0,3'

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@master
      with:
        persist-credentials: false 
        fetch-depth: 0 
    - name: Install Chromium
      run: |
        sudo apt-get update
        sudo apt-get install xvfb chromium-browser=1:93.0.4577.15-0ubuntu0.20.04.2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements4.txt ]; then pip install -r requirements4.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Process Data
      run: |
        xvfb-run python Israel/Israel_ranking.py
        
    - name: commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit --allow-empty -m "Auto-update of the data packages" -a
        git config pull.rebase false
        git fetch
        git pull      
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
